@model School_pws.Data.Entities.Subject

@{
    ViewData["Title"] = "Create new Product";
}

<h1>New Product</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group mb-2">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Workload" class="control-label"></label>
                <input asp-for="Workload" class="form-control" />
                <span asp-validation-for="Workload" class="text-danger"></span>
            </div>
            <div class="form-check mb-2">
                <input class="form-check-input" asp-for="IsActive" />
                <label class="form-check-label" asp-for="IsActive">
                    @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Manage" class="btn btn-success">Back to List</a>
            </div>
        </form>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}