@model IEnumerable<School_pws.Data.Entities.Subject>

@{
    ViewData["Title"] = "Subjects";
}

<h2 class="mb-4">Our Subjects</h2>

<div class="row">
    @foreach (var subject in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">@subject.Name <i class="fa-solid fa-book"></i></h5>
                    <h6 class="card-subtitle mb-2 text-muted">@subject.Code</h6>
                    <hr />
                    <p class="card-text text-truncate-7" style="text-align: justify;">@subject.Description</p>
                    <p class="mt-auto">
                        <span class="badge bg-primary">Workload: @subject.Workload hours <i class="fa-solid fa-clock"></i></span>
                    </p>
                </div>
            </div>
        </div>
    }
</div>
